/app.py
/Atm.py
/Atm2.py
/bulmacaoyunu.py
/class.py
/ClassOrnek.py
/data.py
/denemeveri.py
/dosya.py
/dosyaAcma.py
/Ehliyetalma.py
/Fibonacci.py
/flappy_bird.py
/Galeri.py
/Hastahaneapp.py
/HavadurumuEpostauyarısistemi.py
/HavadurumuUyarıSistemi.py
/HikayeEmoji.py
/hospital.db
/Kelimeoyunu.py
/KendiniYenidenyazan.py
/kullanıcıdanisimsor.py
/listeler.py
/Maceraoyunu.py
/MatematikOyunu.py
/MathModulu.py
/MuhasebeOtomasyonu.py
/muhasebe_otomasyonu
/muhasebe_otomasyonu.db
/Otobüsbileti.py
/Otomasyon.py
/Otomat.py
/Polymorphism.py
/rastgele.py
/Rehber.py
/SilindirHesaplama.py
/Sinemaapp.py
/TrafikLambası.py
/veri.db
/veritabani.py
/Yılanoyunu.py
/Şarkıapp.py